* {
  box-sizing: border-box;
  font-family: 'Lato', arial, sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 1.42857143; }

.row {
  content: "";
  clear: both;
  display: block; }

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  float: left;
  padding: 15px; }

@media only screen and (min-width: 600px) {
  /* For tablets: */
  float: left;
  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; } }
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%; }

  .col-2 {
    width: 16.66%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33%; }

  .col-5 {
    width: 41.66%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33%; }

  .col-8 {
    width: 66.66%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33%; }

  .col-11 {
    width: 91.66%; }

  .col-12 {
    width: 100%; } }
* {
  margin: 0px;
  padding: 0px; }

header {
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  padding: 15px; }
  header strong {
    font-weight: bold;
    font-size: 28px;
    margin-left: 5px; }
  header a img {
    margin-right: 5px;
    max-height: 50px;
    vertical-align: middle; }
  header .menu {
    display: inline;
    list-style: none;
    vertical-align: center; }
    header .menu li {
      float: right;
      margin: 15px; }
      header .menu li a {
        text-decoration: none;
        color: black; }
        header .menu li a h1 {
          display: inline; }
      header .menu li a:hover {
        color: #56bc94; }

.logo {
  display: inline; }
  .logo a {
    text-decoration: none;
    vertical-align: center; }

@media (min-width: 768px) {
  border-radius: 0;
  .hidebutton {
    display: none;
    float: right; } }
body {
  font-family: 'Lato', arial, sans-serif; }

[class*="col-"] {
  padding: 100px;
  text-align: center; }

.section-1 {
  background-color: #56bc94;
  background-image: url("pattern-1.png");
  float: left;
  width: 100%;
  margin: 0px;
  color: white; }
  .section-1 .promo-strong {
    padding: 15px;
    font-size: 30px;
    margin-bottom: 35px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
  .section-1 ul.sec1-ul {
    display: inline; }
    .section-1 ul.sec1-ul li {
      margin: 15px;
      font-weight: 300;
      padding-left: 30px;
      background: url(../images/bullet.png) no-repeat left center;
      list-style-image: url("bullet.png"); }
  .section-1 img.iphone-secton1 {
    float: right;
    margin-right: 150px;
    margin-bottom: 100px; }

.features-section2 .h3style {
  color: #56bc94; }
.features-section2 .a-feature {
  color: #56bc94; }
.features-section2 .feature-button {
  color: #56bc94;
  margin: 6px 12px;
  background-color: white;
  border: none; }

/*# sourceMappingURL=styles.css.map */
